@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.header {
    border: 2px solid black;
    border-radius: 0 0 1em 1em;
    padding: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    margin: auto 2vmin;
}

.main {
    font-family: 'Kavoon', serif;
    font-weight: 400;
    font-size: 3.3vmin;
    color: #000;
    margin-left: 2rem;
}

.cl-btn {
    border: 2px solid black;
    background-color: #ABF8F4;
    border-radius: 5em;
    padding: 0.2em 1.2em;
    color: black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5vmin;
    min-width: fit-content;
}

.cl-btn:hover {
    filter: brightness(105%);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
}

.blk-btn {
    background-color: #000000;
    border-radius: 5em;
    padding: 0.2em 1.2em;
    color: #ABF8F4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5vmin;
    min-width: fit-content;
}

.blk-btn:hover {
    filter: brightness(115%);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 6.5vmin;
    color: #000;
}

.btns {
    width: max-content;
    padding: 0;
    margin: 6vmin auto;
}

.btns > * {
    display: grid;
    margin: 2vmin auto;
    width: 100%;
}

dialog {
    width: 60%;
    background-color: #ABF8F4;
    text-align: center;
    border: 1px solid black;
    border-radius: 2em;
}

dialog .field {
    height: 6vmin;
    width: 50%;
}

dialog .btns {
    width: 30%;
    margin: 6vmin auto;
}

dialog p {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-size: 3vmin;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 7vh;
    border: 2px solid black;
    border-radius: 1em 1em 0 0;
    display: flex;
    align-items: center;
}

.about {
    mix-blend-mode: multiply;
    border: 0;
    margin-right: 1.5vmin;
    height: 60%;
    padding: 0;
}

.about:hover {
    cursor: pointer;
}

.error {
    width: 70%;
    max-width: 400px;
    font-size: 2vmin;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    color: red;
    margin: auto auto -3.7vmin auto;
    text-align: left;
}

form {
    width: 100%;
    display: inline-grid;
    text-align: center;
}

.field {
    border: 1px solid black;
    border-radius: 0.7em;
    background-color: #CDFBF8;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 2vmin;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 70%;
    max-width: 400px;
    height: 70%;
    max-height: 60px;
    padding-left: 2%;
    margin: 4vmin auto;
}

.field:focus {
    outline: none;
}

.invalid {
    background-color: #E99A9A;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}